@font-face {
    font-family: 'Pokemon Hollow';
    src:  url('fonts/PokemonHollow.woff') format('woff'),
}

body {
    margin: 0;
    font-family: 'Raleway Regular', sans-serif;
    background-color: rgb(192,192,192);
}

:root {
    --green: rgb(71, 209, 178);
    --red: rgb(252, 109, 109);
    --yellow: rgb(255, 214, 111);
    --blue: rgb(119, 189, 254);
    --purple: rgb(88, 86, 214);
    --ochre: rgb(150, 150, 121);
    --pink: rgb(187, 48, 205);
    --brown: rgb(120, 48, 1);
    --rosa: rgb(255, 168, 218);
    --lightgreen: rgb(143, 238, 218);;
    --lightred: rgb(252, 168, 168);;
    --lightyellow: rgb(244, 237, 150);;
    --lightblue: rgb(173, 207, 239);;
    --lightpurple: rgb(179, 177, 248);
    --lightochre: rgb(231, 231, 188);
    --lightpink: rgb(242, 175, 250);
    --lightbrown: rgb(241, 174, 130);
    --lightrosa: rgb(246, 221, 235);  
}

.header {
    font-family: 'Pokemon Hollow';
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 47, 47);
    color: white;
    text-shadow: 3px 3px 6px silver;
    letter-spacing: 2px;
    font-size: 25px;
    box-shadow: 5px 5px 20px rgb(112, 111, 111);
    z-index: 999;
}

.title {
    width: 57%;
    text-align: right;
}

.inputContainer {
    width: 34%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputField {
    width: 197px;
    height: 35px;
    border-radius: 19px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    box-shadow: 2px 2px 15px silver;
    font-size: 16px;
}

button {
    width: 113px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(48, 47, 47);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(80, 79, 79);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 125px 100px 50px 100px;
}

.card {
    height: 160px;
    width: 220px;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgb(54, 161, 138);
    cursor: default;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px gray;
    text-transform: capitalize; 
}

.card-content {
    display: flex;
    justify-content: space-between;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.pokeImg {
    width: 142px;
    margin-top: -33px;
    margin-left: -23px;
    transition: transform .3s;
    cursor: pointer;
}

.pokeImg:hover {
    transform: scale(1.4); 
}

.img-bg {
    border-radius: 50%;
    box-shadow: inset -8px 0px 8px grey;
}

.imageInfo {
    display: flex;
    justify-content: space-between;
}

.info-type {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-right: 28px;
}

.type1, .type2{
    background-color: rgb(150, 238, 219);
    border-radius: 10px;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px rgb(81, 80, 80);
    margin-bottom: 27px;
    margin-right: 10px;
}

.infoOverlay {
    position: fixed;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 25px;
    height: 740px;
    width: 500px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 225ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.headlineInfoCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    margin-bottom: 30px;
}

.arrow, .heart {
    cursor: pointer;
}

.headlineInfoCard img {
    width: 35px;
}

.namePokemon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name {
    font-size: 30px;
}

.imgInfoCard {
    width: 265px;
    margin-top: -65px;
    z-index: 1;
    filter: drop-shadow(0 0 0.75rem white);
}

.type {
    display: flex;
    width: 100%;
    font-size: 16px;
}

.data-card {
    height: 392px;
    width: 580px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: -20px;
    margin-top: -33px;
    padding-top: 34px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover {
   border-bottom: 4px solid black;
   padding-bottom: 25px;
}

tbody {
    height: 280px;
}

.tableAbout { 
    padding: 0px 54px;
    font-size: 16px;
}

table td {
    color: black;
}

td::first-letter {
    text-transform: uppercase;
}

table tr {
    height: 34px;
}

table td:first-child {
    width: 171px;
    padding-top: 25px;
}

table td:last-child, td:nth-child(2), td:nth-child(3) {
    font-weight: bold;
    padding-top: 25px;
}

.anchor-active {
    border-bottom: 4px solid black;
    padding-bottom: 25px;
}

.statsContainer {
    display: flex;
    color: black;
    padding-top: 30px;
    width: 87%;
    padding-left: 59px;
}

.contentLeft {
    width: 30%;
}

.contentLeft:first-letter {
    text-transform: uppercase;
}
.contentRight {
    width: 10%;
}

.progressbar {
    background-color: black;
    border-radius: 13px;
    padding: 3px;
    width: 52%; 
}
  
.progressbar>div {
    background-color: orange;
    height: 10px;
    border-radius: 10px;
    max-width: 100%;
    animation: width 350ms linear;
}

@keyframes width {
    from {
        width: 0%;}
    to {
        max-width: 100%;
    }
}

.moveContainer {
    height: 288px;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    padding: 20px 20px 0 20px;
    width: 86%;
}

.moves {
    margin: 10px;
    background-color: rgb(239, 234, 234);
    padding: 2px 10px;
    border-radius: 20px;
}

.middleContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.arrow-right {
    cursor: pointer;
    width: 50px;
    height: 50px;
}  

.arrow-left {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

@media (max-width: 655px) {
    .title {
        font-size: 18px;
        width: 0;
        margin-left: 10px;
    }
    .inputContainer {
        margin-right: 21px;
    }
    .inputField {
        width: 160px;
        font-size: 16px;
    }
    .inputField::placeholder { 
        font-size: 14px;
    }
}

@media (min-width: 330px) and (max-width: 581px) {
    .info-card {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }
    .data-card {
        width: 100vw;
        margin-top: -25px;
        height: 55vh;
    }
    .imgInfoCard {
        width: 177px;
    }
    .headlineInfoCard {
        margin: 10px;
        margin-bottom: 20px;
        width: 80%;
    }
    .namePokemon {
        width: 80%;
        margin-bottom: 20px;
    }
    .type {
        width: 80%;
    }
    .middleContent {
        margin-top: 117px;
        width: 80%;
    }

    .tableAbout {
        padding-left: 10px;
        padding-right: 10px;
    }
    .statsContainer {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contentLeft {
        width: 35%;
    }
    .progressbar {
        width: 46%;
    }
    .moveContainer {
        width: 100%;
        height: 72%;
        padding-left: 10px;
        padding-right: 10px;
    }
}