@font-face {
    font-family: 'Pokemon';
    src:  url('fonts/PokemonHollow.woff') format('woff'),
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(192,192,192);
}

:root {
    --green: rgb(71, 209, 178);
    --red: rgb(252, 109, 109);
    --yellow: rgb(255, 214, 111);
    --blue: rgb(119, 189, 254);
    --purple: rgb(88, 86, 214);
    --ochre: rgb(150, 150, 121);
    --pink: rgb(187, 48, 205);
    --brown: rgb(120, 48, 1);
    --rosa: rgb(255, 168, 218);
    --lightgreen: rgb(143, 238, 218);;
    --lightred: rgb(252, 168, 168);;
    --lightyellow: rgb(244, 237, 150);;
    --lightblue: rgb(173, 207, 239);;
    --lightpurple: rgb(179, 177, 248);
    --lightochre: rgb(231, 231, 188);
    --lightpink: rgb(242, 175, 250);
    --lightbrown: rgb(241, 174, 130);
    --lightrosa: rgb(246, 221, 235);  
}

.d-none {
    display: none;
}

.header {
    font-family: 'Pokemon Hollow';
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 47, 47);
    color: white;
    text-shadow: 3px 3px 6px silver;
    letter-spacing: 2px;
    font-size: 25px;
    box-shadow: 5px 5px 20px rgb(112, 111, 111);
    z-index: 999;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 125px 100px 50px 100px;
}

.card {
    height: 160px;
    width: 220px;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgb(54, 161, 138);
    cursor: pointer;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px gray;
    text-transform: capitalize; 
}

.card-content {
    display: flex;
    justify-content: space-between;
}
/* .headline-card {
    z-index: 1;
    text-shadow: 1px 1px 2px gray;
    text-transform: capitalize; 
} */

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.pokeImg {
    width: 142px;
    margin-top: -33px;
    margin-left: -23px;
    transition: transform .3s;
}

.pokeImg:hover {
    transform: scale(1.4); 
}

.img-bg {
    border-radius: 50%;
    box-shadow: inset -8px 0px 8px grey;
}

.imageInfo {
    display: flex;
    justify-content: space-between;
}

.info-type {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-right: 28px;
}

.type1, .type2{
    background-color: rgb(150, 238, 219);
    border-radius: 10px;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px rgb(81, 80, 80);
    margin-bottom: 27px;
}

.infoContainer {
   position: fixed;
   background-color: rgb(192,192,192);
   /*  filter: blur(8px);
  -webkit-filter: blur(8px); */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
}

.info-card {
    background-color: white;
    border-radius: 15px;
    height: 740px;
    width: 500px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

